doctype html
head
	title #{title}

style(type="text/css").
	html,
	body {
		margin: 0 auto !important;
		padding: 0 !important;
		height: 100% !important;
		width: 100% !important;
	}
	* {
		-ms-text-size-adjust: 100%;
	}
	table,
	td {
		mso-table-lspace: 0pt !important;
		mso-table-rspace: 0pt !important;
	}
	img {
		-ms-interpolation-mode: bicubic;
	}
	a {
		text-decoration: none;
	}

body(
	style="min-height: 400pt; max-width: 500pt; box-sizing: border-box; margin: 0 auto;"
	)
	div.main(
		style="box-sizing: border-box; width: 500pt; ; background-position: right bottom; background-color: #eb671c; position: relative; padding: 30px 45px;"
	)
		h2.title(
			style="margin-bottom: 15px; color: white; box-sizing: border-box;"
		) #{welcome}
		include logo.pug
		div.content(
			style="box-sizing: border-box; padding-right: 60pt; font-size: 14pt; color: white; width: 100%; font-weight: 200"
		)
			block content
		include footer.pug
	footer.footer(
		style="background-color: white; width: 500pt; padding: 15px; text-align: center; border: 1px solid #eb671c; box-sizing: border-box;"
	)
		span(style='display: block; line-height: 1.5; font-size: 14pt; color: #a3a3a3;') #{title_help}
		span(style='display: block; line-height: 1.5; font-size: 14pt; color: #a3a3a3;') #{text_help}
		span(style='display: block; line-height: 1.5; font-size: 14pt; color: #a3a3a3;') #{email_help}

block scripts